.project-card {
  background-color: rgba(250, 246, 240, 0.65);

  border: none;
  border-radius: 18px;

  overflow: hidden;

  cursor: pointer;

  display: flex;
  flex-direction: column;

  height: 100%;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  padding: 0;
}

.project-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
}

.project-img {
  width: 100%;
  height: 85%;

  object-fit: cover;

  transition: transform 0.4s ease;
}

.project-card:hover .project-img {
  transform: scale(1.05);
}

.project-card h3 {
  height: 15%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 10px;

  background: rgba(255, 255, 255, 0.92);

  text-align: center;

  font-size: 1rem;

  color: var(--title-color);
}

.project-card.vertical {
  grid-row: span 2;
}

.project-card.horizontal {
  grid-column: span 2;
  grid-row: span 2;
}

.project-card.square {
  grid-column: span 1;
  grid-row: span 1;
}

@media (max-width: 768px) {
  .project-card.vertical,
  .project-card.horizontal,
  .project-card.square {
    grid-column: span 1;
    grid-row: span 1;
  }

  .project-img {
    height: 250px;
  }
}