.header {
  text-align: center;
}

.logo {
  width: 320px;
  max-width: 100%;

  margin: 0 auto 20px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;

  margin-bottom: 10px;
}

.slogan {
  opacity: 0.8;

  font-size: 1.05rem;
}